.main{
    font-family: sans-serif, Helvetica,Arial;
    padding: 20px;
    max-width: 1200px;
    margin-inline: auto;
}
.h1Container.dark{
    background-color: rgb(22, 22, 22);
    color: white;
}
body.dark{
    background-color: rgb(22, 22, 22);
    color: white;
}
label{
    cursor: pointer;
}
.h1Container{
    border: 1px solid rgb(69, 69, 235);
    padding: 25px;
    color: black;
    background: white;
}


